<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="logo">
        <img class="logo-img" src="./img/Logo.png" alt="Logo">
    </header>
    <section class="home">
        <h1 class="titulo">Nós te entregamos a solução</h1>
        <p class="home-paragrafo">Mostramos a todos que qualidade, envolvimento, criatividade e organização são fatores básicos em projetos tecnológicos.<br>Evolua de forma inteligente e confie sua ideia de software ou aplicativo nas mãos de uma equipe que se preocupa em realizar o seu sonho, garantindo a melhor gestão do seu investimento</p>
    </section>
    <section class="home-cards">
        <div class="card">
            <h2 class="card1-titulo">SOFTWARE SOB MEDIDA</h2>
            <p class="card1-paragrafo">
                Desenvolvemos, sob medida, soluções exclusivas para resolver o seu problema e facilitar a gestão do seu negócio através de um software que será exclusivamente seu, atendendo as suas necessidades.</p>
        </div>
        <div class="card">
            <h2 class="card1-titulo card2">MOBILE</h2>
            <p class="card1-paragrafo">
                Desenvolvimento de aplicativos ou tecnologias que otimizem o seu negócio, estar preparado para a era mobile é requisito para engajar.
            </p>
        </div>
        <div class="card">
            <h2 class="card1-titulo card3">SITES</h2>
            <p class="card1-paragrafo">
                Ter seu website é estar presente no maior local de buscas de produtos e serviços do mundo. Website deve se destacar pela tecnologia e experiència para o seu público.
            </p>
        </div>
        <div class="card">
            <h2 class="card1-titulo card4">SEO</h2>
            <p class="card1-paragrafo">
                Melhore sua posição nos buscadores, ganhe mais acessos em seu website e melhore sua presença virtual. Técnicas sólidas para crescer seu website e gerar leads.</p>
        </div>
    </section>
</body>

</html>